:root {
  --color-flame: #e4572e;
  --color-blue-green: #17bebb;
  --color-sunglow: #ffc914;
  --color-raisin-black: #2e282a;
  --color-green: #76b041; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1157px) {
    html {
      font-size: 50%; } }

.App {
  text-align: center;
  height: 100vh;
  background-color: oldlace; }

.heading {
  text-align: left;
  margin-top: 0;
  padding: 4rem;
  font-family: 'Syne', sans-serif; }

.join-container {
  height: 100%;
  background: radial-gradient(65.07% 66.64% at 78.11% 34.93%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(35.59% 71.18% at 19.97% 64.41%, #E4572E 0%, rgba(228, 87, 46, 0) 100%), radial-gradient(51.41% 86.2% at 90.51% 13.8%, #E4572E 0%, #F4991F 33.06%, #FFC914 48.31%); }

.title {
  display: block;
  line-height: 1.3; }
  .title--small {
    font-size: 30px;
    font-weight: 200; }
  .title--medium {
    font-size: 40px;
    font-weight: 300; }
  .title--large {
    font-size: 50px;
    font-weight: 700; }

.button {
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer; }
  .button--login {
    overflow: hidden;
    color: white;
    min-width: 180px; }
    .button--login::after, .button--login::before {
      content: attr(data-text);
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      background: white;
      color: var(--color-raisin-black);
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
    .button--login::before {
      top: 0;
      padding-top: 1em; }
    .button--login::after {
      bottom: 0;
      line-height: 0; }
    .button--login > span {
      display: block;
      -webkit-transform: scale3d(0.2, 0.2, 1);
      transform: scale3d(0.2, 0.2, 1);
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
    .button--login:hover::before {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0); }
    .button--login:hover::after {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); }
    .button--login:hover > span {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }

.login__container {
  padding: 40px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
  color: white; }
  .login__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-raisin-black);
    opacity: 0.8;
    z-index: 1;
    border-radius: 30px; }

.login__form {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.login__label {
  font-size: 1.6rem;
  font-family: 'Syne', sans-serif;
  display: block;
  float: left;
  margin-bottom: 0.5rem;
  max-width: 180px; }

.login__text {
  z-index: 2;
  padding: 1rem;
  font-size: 20px;
  max-width: 180px;
  color: white;
  background-color: var(--color-raisin-black);
  outline: none;
  border: 1px solid white; }

.login__room {
  display: block;
  width: 180px;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  padding: 1rem;
  margin-left: 1.7rem;
  margin: 1rem;
  background-color: var(--color-raisin-black); }

.chat-heading {
  font-size: 4rem;
  font-weight: 600;
  text-align: left;
  padding: 2rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: oldlace;
  z-index: 10; }

.chat-page-container {
  height: 100vh;
  display: flex;
  flex-direction: row; }

.chat-container {
  flex-grow: 1;
  position: relative; }

.chat-input__container {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative; }

.chat-input__text {
  border-radius: 10px;
  width: 70%;
  min-height: 50%;
  font-size: 2rem;
  padding: 0.7rem 2rem;
  border: 2px solid var(--color-raisin-black);
  resize: vertical; }
  .chat-input__text:focus {
    outline: none; }

.chat-input__button {
  position: absolute;
  right: 17%;
  width: 3.4rem;
  height: 3.4rem;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s; }
  .chat-input__button:hover {
    width: 4rem;
    height: 4rem; }

.chat-input__icon {
  width: 100%; }

.users__container {
  height: 100%;
  min-width: 2rem;
  display: inline-block;
  background-color: var(--color-raisin-black);
  color: white;
  padding: 1.7rem; }

.users__heading {
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 1rem; }

.users__list {
  list-style: none;
  text-align: left;
  font-size: 1.8rem; }
  .users__list > li {
    position: relative;
    margin-left: 1rem; }
    .users__list > li:not(:last-child) {
      margin-bottom: 1rem; }

.current-user::before {
  content: '';
  border-radius: 50%;
  background-color: lightgreen;
  position: absolute;
  top: 50%;
  left: -10px;
  height: 6px;
  width: 6px;
  transform: translateY(-50%); }

.messages-container {
  overflow: scroll;
  height: 90%;
  padding-top: 10.3rem; }

.message-wrapper {
  display: block;
  margin: 1rem;
  text-align: left; }

.message-container {
  display: inline-block;
  background-color: lightgrey;
  padding: 2rem;
  border-radius: 15px;
  position: relative; }

.message__user {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 0.7rem; }

.message__content {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  white-space: pre-line; }

.message__time {
  font-size: 1.4rem;
  font-weight: 200;
  position: absolute;
  bottom: 5px;
  right: 2rem; }

.message--by-user {
  text-align: right; }
  .message--by-user > div {
    background-color: var(--color-sunglow); }

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2; }
