.heading{
  text-align: left;
  margin-top: 0;
  padding: 4rem;
  font-family: 'Syne', sans-serif;
}

.join-container{
  height: 100%;
  background: radial-gradient(38.16% 90.47% at 88.16% 67.16%, rgba(23, 190, 187, 0.2) 8.33%, rgba(1, 3, 3, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(86.91% 86.91% at 16.73% 13.09%, rgba(23, 190, 187, 0.2) 10.15%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(23.93% 48.21% at 70.34% 76.07%, rgba(228, 87, 46, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(31.58% 81.45% at 71.33% 80.4%, #E4572E 0%, rgba(255, 201, 20, 0) 63.12%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(30.96% 67.03% at 21.2% 63.49%, #E4572E 0%, rgba(228, 87, 46, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(53.02% 88.9% at 94.48% 11.1%, #E4572E 0%, #F4991F 33.06%, #FFC914 48.31%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.title{
  display: block;
  line-height: 1.3;
  &--small{
    font-size: 30px;
    font-weight: 200;
  }
  &--medium{
    font-size: 40px;
    font-weight: 300;
  }
  &--large{
    font-size: 50px;
    font-weight: 700;
  }
}

.button {
  min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	position: relative;
	z-index: 1;
	-moz-osx-font-smoothing: grayscale;
  cursor: pointer;

  &--login{
    overflow: hidden;
	  color: white;
  	min-width: 180px;

    &::after,
    &::before {
      content: attr(data-text);
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      background: white;
      color: var(--color-raisin-black);
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }

    &::before{
      top: 0;
    	padding-top: 1em;
    }

    &::after{
      bottom: 0;
      line-height: 0;
    }

    & > span {
      display: block;
      -webkit-transform: scale3d(0.2, 0.2, 1);
      transform: scale3d(0.2, 0.2, 1);
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }

    &:hover{
      &::before{
        -webkit-transform: translate3d(0, -100%, 0);
	      transform: translate3d(0, -100%, 0);
      }
      &::after{
        -webkit-transform: translate3d(0, 100%, 0);
	      transform: translate3d(0, 100%, 0);
      }
      & > span {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
  }
}

.login{ 
  &__container{
    padding: 40px;

    position: absolute;
    top: calc(50% - 135px);
    left: calc(50% - 150px);
    color: white;

    @media only screen and (max-width: 400px){
      width: 100%;
      left: 0;
    }
  
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-raisin-black);
      // border-radius: 10px; 
      opacity: 0.7; 
      z-index: 1;
      border-radius: 30px;

      @media only screen and (max-width: 400px){
        border-radius: 0px;
      }
    }
  }

  &__form{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__label{
    font-size: 1.6rem;
    font-family: 'Syne', sans-serif;
    display: block;
    float: left;
    margin-bottom: 0.5rem;
    max-width: 180px;
  }

  &__text{
    z-index: 2;
    padding: 1rem;
    font-size: 20px;
    max-width: 180px;
    color: white;
    background-color: var(--color-raisin-black);
    outline: none;
    // margin: 1rem;
    border: 1px solid white;
  }

  &__room{
    display: block;
    width: 180px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 1rem;
    margin-left: 1.7rem;
    margin: 1rem;
    background-color: var(--color-raisin-black);
  }

}


.chat-heading{
  font-size: 4rem;
  font-weight: 600;
  text-align: left;
  padding: 2rem;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  background-color: oldlace;
  z-index: 10;

  display: flex;
  align-items: center;
}

.chat-page-container{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.chat-container{
  flex-grow: 1;
  position: relative;
}

.chat-input{
  &__container{
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__text{
    border-radius: 10px;
    width: 70%;
    min-height: 50%;
    font-size: 2rem;
    padding: 0.7rem 2rem;
    border: 2px solid var(--color-raisin-black);
    resize: vertical;

    &:focus{
      outline: none;
    }

    @media only screen and (max-width: 800px){
      width: 90%;
    }
  }

  &__button{
    position: absolute;
    right: 17%;
    
    width: 3.4rem;
    height: 3.4rem;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover{
      width:4rem;
      height: 4rem;
    }

    @media only screen and (max-width: 800px){
      right: 8%;
    }
  }

  &__icon{
    width: 100%;
  }
}

.users{
  &__container{
    max-height: 100%;
    min-width: 2rem;
    display: inline-block;
    background-color: var(--color-raisin-black);
    color: white;
    padding: 1.7rem;
    margin: 2rem;
    border-radius: 30px;
    overflow: scroll;

    @media only screen and (max-width: 600px){
      display: none;
    }
  }

  &__heading{
    font-size: 2.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  &__list{
    list-style: none;
    text-align: left;
    font-size: 1.8rem;
    overflow: scroll;

    & > li{
      position: relative;
      margin-left: 1rem;
      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }
  }
}

.current-user::before{
  content: '';
  border-radius: 50%;
  background-color: var(--color-blue-green);
  position: absolute;
  top: 50%;
  left: -10px;
  height: 6px;
  width: 6px;
  transform: translateY(-50%);
}

.messages-container{
  overflow: scroll;
  height: 90%;
  padding-top: 10.3rem;
}

.message{
  &-wrapper{
    display: block;
    margin: 1rem;
    text-align: left;
  }

  &-container{
    display: inline-block;
    background-color: lightgrey;
    padding: 2rem;
    border-radius: 15px;
    position: relative;
  }

  &__user{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 0.7rem;
  }

  &__content{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    white-space: pre-line;
  }

  &__time{
    font-size: 1.4rem;
    font-weight: 200;
    position: absolute;
    bottom: 5px;
    right: 2rem;
  }

  &--by-user{
    text-align: right;

    & > div {
      background-color: var(--color-sunglow);
    }
  }
}

.leave-icon{
  width: 4rem;
  cursor: pointer;
  margin-left: 2rem;

}